@use "./global/normalize";
@use "./modal";

#app {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  min-height: 100vh;
  font-weight: 400;
  background-color: $dark;
  position: relative;
}

// Common
.no-scroll {
  overflow: hidden;
}

.v-hidden {
  visibility: hidden;
}