@use "./variables" as *;

// Global
@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin input-style($border-radius: 36px, $padding: 10px 28px) {
  border: none;
  border-radius: $border-radius;
  padding: $padding;
  min-height: 72px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: all 0.15s;
  color: $dark;

  &::placeholder {
    @include label-text;
    color: $gray;
  }

  &:hover {
    border: 2px solid $green-light;
  }

  &:active {
    outline: 2px solid $green-light;
  }

  &:focus-visible {
    outline: none;
  }
}

@mixin responsive-gap($gap-default: 16px, $gap-md: 24px) {
  gap: $gap-default;

  @include breakpoint(md) {
    gap: $gap-md;
  }
}


// Text
@mixin h1 {
  font-size: 60px;
  line-height: 64px;
  font-weight: 900;

  @include breakpoint(md) {
    font-size: 104px;
    line-height: 104px;
  }
}

@mixin h2 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 600;

  @include breakpoint(md) {
    font-size: 48px;
    line-height: 72px;
  }
}

@mixin h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;

  @include breakpoint(md) {
    font-size: 32px;
    line-height: 48px;
  }
}

@mixin h4 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;

  @include breakpoint(lg) {
    font-size: 24px;
    line-height: 32px;
  }
}

@mixin text-normal($color: $white) {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: $color;

  @include breakpoint(md) {
    font-size: 20px;
    line-height: 32px;
  }
}

@mixin btn-text {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}

@mixin text-small {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  @include breakpoint(md) {
    font-size: 18px;
    line-height: 28px;
  }
}

@mixin text-small-bold {
  @include text-small;
  font-weight: 700;
}

@mixin link {
  @include text-small-bold;
  color: $green-light;
  transition: color .15s;

  &:hover {
    color: $white;
  }
}

@mixin label-text {
  font-size: 18px;
  line-height: 28px;
}

// Modals
@mixin modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 31, 56, 0.7);
  display: flex;
  align-items: center;
  z-index: 1000;

  @include breakpoint(md) {
    justify-content: center;
  }
}

@mixin modal {
  background: rgba(27, 47, 70, 1);
  border-radius: 40px;
  padding: 80px 16px;
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  @include breakpoint(md) {
    max-width: 688px;
    padding: 56px;
    height: unset;
    max-height: unset;
    overflow-y: unset;
  }

  @include breakpoint(lg) {
    max-width: 594px;
  }

  @include breakpoint(xl) {
    max-width: 780px;
    padding: 80px;
  }
}

@mixin modal-header {
  margin-bottom: 28px;

  @include breakpoint(md) {
    margin-bottom: 40px;
  }
}

@mixin modal-title {
  @include h2;
  color: $white;
}

@mixin modal-close {
  position: absolute;
  top: 15px;
  right: 15px;

  @include breakpoint(md) {
    top: 20px;
    right: 20px;
  }
}

// Media
$breakpoints: (
  sm: (
    max: 360px,
    min: 359.98px,
  ),
  md: (
    max: 768px,
    min: 767.98px
  ),
  lg: (
    max: 1360px,
    min: 1359.98px
  ),
  xl: (
    max: 1920px,
    min: 1919.98px
  ),
);

@mixin breakpoint($breakpoint, $direction: min) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-values: map-get($breakpoints, $breakpoint);
    $breakpoint-min: map-get($breakpoint-values, min);
    $breakpoint-max: map-get($breakpoint-values, max);

    @if $direction == min {
      @media (min-width: $breakpoint-min) {
        @content;
      }
    } @else {
      @media (max-width: $breakpoint-max) {
        @content;
      }
    }
  } @else {
    @if $direction == min {
      @media (min-width: $breakpoint) {
        @content;
      }
    } @else {
      @media (max-width: $breakpoint) {
        @content;
      }
    }
  }
}

