// Typography

@mixin h1 {
  font-size: 104px;
  line-height: 104px;
  font-weight: 900;
}

@mixin h2 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 600;
}

@mixin h3 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
}

@mixin h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

@mixin text-normal {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

@mixin text-small {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

@mixin text-small-bold {
  @extend text-small;
  font-weight: 700;
}