// Colors

// Dark
$dark: #0A1F38;
$dark-middle: #1B2F46;
$dark-light: #2F4056;
$gray: #9DA5AF;

// Green
$green: #A5BB0C;
$green-light: #B1C909;
$green-middle: #97AB0D;
$green-dark: #819400;

$white: #FFFFFF;

// Media
$breakpoints: (
  sm: (
    max: 360px,
    min: 359.98px,
  ),
  md: (
    max: 768px,
    min: 767.98px
  ),
  lg: (
    max: 1366px,
    min: 1365.98px
  ),
  xl: (
    max: 1920px,
    min: 1919.98px
  ),
);